"*":
  autosave:
    enabled: true
  "command-palette":
    preserveLastSearch: true
  core:
    disabledPackages: [
      "welcome"
    ]
    excludeVcsIgnoredPaths: false
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontSize: 12
    showInvisibles: true
    tabLength: 4
  "file-icons":
    onChanges: true
  "git-diff":
    showIconsInEditorGutter: true
  "highlight-selected":
    lightTheme: true
  "linter-ui-default":
    showPanel: true
  minimap:
    autoToggle: false
  "tree-view":
    hideVcsIgnoredFiles: false
