[Desktop Entry]
Version=1.0
Name=Application Name
Type=Application
Exec=/home/daniel/applications/name/start.sh
Icon=/home/daniel/applications/name/icon.png
Terminal=false
Categories=Utility;

# SEE: https://help.ubuntu.com/community/UnityLaunchersAndDesktopFiles
